<a href="https://colab.research.google.com/github/gbalbao/pdteste/blob/main/raccoonpd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#PS RACCOON utilizando pandas

from base64 import decode
from re import X
from tkinter.tix import DisplayStyle
import pandas as pd 
import requests
import urllib
import json
from IPython.display import display
import numpy as np

In [38]:
#PLANILHA DIAS
url =  'https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_shows'
handle = urllib.request.urlopen(url)
shows = handle.read().decode()
g = pd.read_json(shows)
g_df = pd.DataFrame(g)
display(g_df)

     Nascent Letter  Symbolic Toy  Terrestrial Chair
ano            2020          2020               2020
dia               2             3                  1
mes               1             1                  1

In [37]:
# PLANILHA GASTOS
url2 = 'https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_compras'
handle2 = urllib.request.urlopen(url2)
gastos = handle2.read().decode()
gastos_df = pd.DataFrame([x.split(',') for x in gastos.split('\r\n')])
display(gastos_df)

                       0               1        2
0                   nome            show   gastos
1            Joseph Wray    Symbolic Toy  3142.35
2         Barbara Mcneil    Symbolic Toy  2431.78
3     Eduardo Espenshade    Symbolic Toy   386.32
4            Lucia Hayes    Symbolic Toy  3373.49
..                   ...             ...      ...
497  Christopher Mueller    Symbolic Toy  1797.44
498  Christopher Mueller  Nascent Letter  1511.91
499  Christopher Mueller  Nascent Letter  3439.69
500  Christopher Mueller  Nascent Letter  1635.48
501                                 None     None

[502 rows x 3 columns]

In [ ]:
# PLANILHA VENDAS INGRESSOS
url3 =  'https://us-central1-raccoon-bi.cloudfunctions.net/psel_de_ingressos'
handle3 = urllib.request.urlopen(url3)
vendas = handle3.read().decode()
vendas_df = pd.DataFrame(json.loads(vendas)) #comando json.loads serve para transformar a string em lista de dicionários
display(vendas_df)

In [36]:

#QUESTÃO 1 - Média de gastos com a pista
# agrupar por quem teve compra concluida e comprou pista 
# ir na planilha de gastos e somar os gastos do dia 
# para filtrar: query() (passa os filtros como parametro) ex: nome_df.query('status == concluido')
# para filtrar: loc() (passa a coluna que deseja onde esteja o filtro) ex: nome_df.loc(nomedf('status')==concluido)

# Tentativas falhas:
# display(vendas_df.loc((vendas_df['status']== 'Concluido') & (vendas_df['tipo'] == 'Pista')))
# display(vendas_df.loc((vendas_df['status'] == 'Concluido') & (vendas_df['tipo']=='Pista')))
# display(vendas_df.loc((vendas_df['status']== 'Concluido') & (vendas_df['tipo'] == 'Pista')))
# vendas_df.loc[(vendas_df["status"] == "Concluido" & vendas_df['tipo']=="Pista")]

# Forma correta
pista_conc_df = pd.DataFrame(vendas_df.loc[(vendas_df['status']=='Concluido')].loc[(vendas_df['tipo'] == 'Pista')])

#Com o dataframe acima, usar o inner para juntar essa planilha com a planilha de gastos, através do nome da pessoa (chave)
# Usando o merge

pd.merge

     ano  dia  mes               nome     status   tipo
35  2020    1    1          Donna Wal  Concluido  Pista
41  2020    1    1  Gretchen Hinojosa  Concluido  Pista
47  2020    2    1        Lyle Branch  Concluido  Pista
52  2020    2    1          John Rich  Concluido  Pista
53  2020    2    1   Courtney Edwards  Concluido  Pista
54  2020    3    1  Richard Culpepper  Concluido  Pista
55  2020    3    1        Young Besaw  Concluido  Pista
56  2020    3    1        Lucia Hayes  Concluido  Pista
58  2020    3    1     Marcela Nelson  Concluido  Pista
59  2020    3    1      Sandra Duncan  Concluido  Pista
60  2020    3    1       Miguel Ramey  Concluido  Pista
63  2020    3    1   Mitchell Kostyla  Concluido  Pista